In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/Users/zoeweinstein/Desktop/spring-25/soc-693/SOC-693/GSS-clean.xlsx")

In [ ]:
df.head()

   Unnamed: 0  year  id_  wrkstat  ...  sei10  pasei10  masei10  kdpres105plus
0        9122  1978    3        1  ...   28.7   -100.0   -100.0           -100
1        9124  1978    5        1  ...   24.2   -100.0   -100.0           -100
2        9127  1978    8        8  ...   58.4   -100.0   -100.0           -100
3        9135  1978   16        1  ...   27.5     28.7   -100.0           -100
4        9144  1978   25        1  ...   92.1   -100.0   -100.0           -100

[5 rows x 22 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011 entries, 0 to 1010
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1011 non-null   int64
 1   year           1011 non-null   int64
 2   id_            1011 non-null   int64
 3   wrkstat        1011 non-null   int64
 4   educ           1011 non-null   int64
 5   paeduc         1011 non-null   int64
 6   maeduc         1011 non-null   int64
 7   degree         1011 non-null   int64
 8   padeg          1011 non-null   int64
 9   madeg          1011 non-null   int64
 10  incom16        1011 non-null   int64
 11  padeath        1011 non-null   int64
 12  madeath        1011 non-null   int64
 13  ballot         1011 non-null   int64
 14  prestg10       1011 non-null   int64
 15  prestg105plus  1011 non-null   int64
 16  papres105plus  1011 non-null   int64
 17  mapres105plus  1011 non-null   int64
 18  sei10          1011 non-null   float64
 19  pasei10        1011 non-null   float64
 20  masei10        1011 non-null   float64
 21  kdpres105plus  1011 non-null   int64
dtypes: float64(3), int64(19)
memory usage: 173.9 KB

In [ ]:
df.describe()

         Unnamed: 0         year  ...      masei10  kdpres105plus
count   1011.000000  1011.000000  ...  1011.000000    1011.000000
mean   18633.851632  1985.218595  ...   -98.108605     -97.558853
std     6314.747654     4.661055  ...    16.160002      18.986114
min     9122.000000  1978.000000  ...  -100.000000    -100.000000
25%    12046.500000  1980.000000  ...  -100.000000    -100.000000
50%    19038.000000  1986.000000  ...  -100.000000    -100.000000
75%    23787.000000  1989.000000  ...  -100.000000    -100.000000
max    32372.000000  1994.000000  ...    82.500000      87.000000

[8 rows x 22 columns]

In [ ]:
df['year'].describe()

count    1011.000000
mean     1985.218595
std         4.661055
min      1978.000000
25%      1980.000000
50%      1986.000000
75%      1989.000000
max      1994.000000
Name: year, dtype: float64

In [ ]:
df['incom16'].describe()

count    1011.000000
mean        2.438180
std         0.893811
min         1.000000
25%         2.000000
50%         2.000000
75%         3.000000
max         5.000000
Name: incom16, dtype: float64

In [ ]:
df['sei10'].describe()

count    1011.000000
mean       39.887636
std        20.504986
min         9.000000
25%        24.000000
50%        38.100000
75%        52.000000
max        92.800000
Name: sei10, dtype: float64

In [ ]:
df["prestg10"].describe()

count    1011.000000
mean       40.673591
std        12.357636
min        16.000000
25%        31.000000
50%        39.000000
75%        47.000000
max        80.000000
Name: prestg10, dtype: float64

In [ ]:
df['degree'].value_counts()

degree
1    489
0    347
3     98
2     41
4     36
Name: count, dtype: int64

In [ ]:
df['wrkstat'].value_counts()

wrkstat
1    459
5    183
7    172
2    103
4     43
3     24
8     16
6     11
Name: count, dtype: int64